<div class = "example-form">
  Akcióink: </div>
<div></div>
<table align="right">

  <tr>
    <th>Kép</th>
  </tr>
  <tr>
    <td>Jill</td>
  </tr>
  <tr>
    <td>Jill</td>
  </tr>
  <tr>
    <td>Jill</td>
  </tr>
  <tr>
    <td>Jill</td>
  </tr>
  <tr>
    <td>Jill</td>
  </tr>

</table>

<table align="left">

  <tr>
    <th>Leírások</th>
  </tr>
  <tr>
    <td>Jill</td>
  </tr>
  <tr>
    <td>Jill</td>
  </tr>
  <tr>
    <td>Jill</td>
  </tr>
  <tr>
    <td>Jill</td>
  </tr>
  <tr>
    <td>Jill</td>
  </tr>

</table>

<div>
  <app-homepage-list></app-homepage-list>
</div>

