<div style="width: 600px">
  <div *ngIf="flight">
    <mat-grid-list cols="2" gutterSize ="0px" rowHeight="1:1" >
      <div>
        <mat-grid-tile
          [style.background]="'#f7cdf8'">
          <mat-list color="Primary">
            <mat-list-item>Startpoint: {{flight.startpoint}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Endpoint: {{flight.endpoint}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Launch: {{flight.launch}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Arrival: {{flight.arrival}}</mat-list-item>
          </mat-list>
        </mat-grid-tile>
      </div>
      <div>
        <mat-grid-tile
          [style.background]="'#f7cdf8'">
          <mat-list color="Primary">
            <mat-list-item>Cost: {{flight.cost}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Sale: {{flight.sale}}</mat-list-item>
          </mat-list>
        </mat-grid-tile>
      </div>
    </mat-grid-list>
  </div>
</div>
